<template>
    <div>
        <h2>This is the Merchant Part</h2>

        <h3 v-if="ccp_data.secureIndicator">Secure Mode</h3>
        <h3 v-else>Non Secure Mode</h3>

        <h3>CRN in Child: {{ccp_data.CRN}}</h3>
        <h3>PAN Mask in Child: {{ccp_data.panMask}}</h3>
        <h3>Card Type in Child: {{ccp_data.panType}}</h3>
        <h3>CVC Mask in Child: {{ccp_data.cvcMask}}</h3>

        
        <button v-on:click='getSession'>Get Session</button>
        <button v-on:click='resetPAN'>Child Reset PAN</button>
        <button v-on:click='resetCVC'>Child Reset CVC</button>
        <button v-on:click='submitIt'>Submit</button>
    </div>
</template>

<script>
    export default {
        props: {
            ccp_data: { type: Object },
/*              secureIndicator: false,         // Secure Mode - True or False - {type: Boolean}
                CRN: '',                        // Call reference Number - {type: String}
                panMask: '',                    // PAN Mask holder - {type: String}
                cvcMask: '',                    // CVC Mask holder - {type: String}
                panType: '',                    // Visa, MC, AMEX, etc. - {type: String} */            
            getSecureSession: {type: Function},
            resetPAN: {type: Function},
            resetCVC: {type: Function},
            submit: {type: Function}
        },
        data() {
            return {
                a:true
            };
        },
        methods: {
            pspAuth() {

            },
            pspsAPI() {

            },
            getSession() {
                this.getSecureSession();
            },
            submitIt() {
                this.submit();
            }
        }    
    }
</script>

<style scoped>

</style>