<template>
    <div>
        <H1>This is the SecureCo HPP Shell</H1>
        <merchantHPP v-bind="{  ccp_data,  
                                getSecureSession, resetPAN, resetCVC, submit}">
         </merchantHPP>
    </div>
</template>

<script>
import secureCoAPI from "../api/secureco";
import merchantHPP from "./MerchantHPP";

export default {
    components: {
        merchantHPP
    },
    data() {
        return {
            debug: true,                        // logs verbosely to console
            ccp_data: {
                secureIndicator: false,         // Secure Mode - True or False
                CRN: '',                        // Call reference Number
                panMask: '',                    // PAN Mask holder
                cvcMask: '',                    // CVC Mask holder
                panType: '',                    // Visa, MC, AMEX, etc.
            }
        };
    },
    methods: {
        getSecureSession() {
           
            if (this.debug) console.log(`Parent getSecureSession -  ${secureCoAPI.secureIndicator}`);
            secureCoAPI.getNextCrn(this.ccp_data);
        },
        resetPAN()  {
            this.ccp_data.panMask;
            secureCoAPI.resetPan(this.ccp_data);
            if (this.debug) console.log(`Parent PANMask: ${this.ccp_data.panMask}`);
        },
        resetCVC()  {
            this.ccp_data.cvcMask;
            secureCoAPI.resetCvc(this.ccp_data);
            if (this.debug) console.log(`Parent resetCVC: ${this.ccp_data.cvcMask}`);
            
        },
        submit() {
            secureCoAPI.submit(this.ccp_data);
            if (this.debug) console.log(`Parent submit: ${this.ccp_data.secureIndicator}`);

        }
    }
}
</script>

<style scoped>
    div {border-style: solid;}
</style>    