<template>
  <div id="app">
    <SecureCoHPPShell></SecureCoHPPShell>
  </div>
</template>

<script>
import SecureCoHPPShell from './components/SecureCoHPPShell'

export default {
  name: 'app',
  components: {
    SecureCoHPPShell    
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
